@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --desaturated-purple: hsl(246, 80%, 67%);
  --bright-blue: hsl(245, 75%, 52%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  height: 100vh;
}

button {
  font-family: "Red Hat Display", sans-serif;
  border: none;
  background: none;
  cursor: pointer;
}

.card {
  margin: auto;
  margin-top: 4rem;
  background: white;
  width: 25rem;
  text-align: center;

  border-radius: 1rem;
}

.card-content {
  width: 100%;
  padding: 2rem 2.5rem 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-content h2 {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 0.1ch;
  color: var(--dark-blue);
}

.card-content p {
  color: var(--desaturated-blue);
}

.hero-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.plan-option {
  display: flex;
  padding: 1.5rem;
  align-content: center;
  gap: 1rem;
  background: var(--very-pale-blue);
  border-radius: 1rem;
}
.plan-option strong {
  color: var(--dark-blue);
}
.plan-option {
  color: var(--desaturated-blue);
}

.plan-price {
  display: flex;
  flex-direction: column;
}

#plan-change-button {
  margin-left: auto;
  color: var(--bright-blue);
  font-weight: 700;
  text-decoration: underline;
}

.main-button {
  width: 100%;
}

#cancel-button,
#proceed-button {
  padding: 1rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1ch;
}

#proceed-button:hover {
  background: var(--desaturated-purple);
}

#proceed-button {
  background: var(--bright-blue);
  color: white;
  box-shadow: 0 0.5rem 1rem 0rem var(--desaturated-blue);
}

#cancel-button {
  color: var(--desaturated-blue);
}
